body {
    background: url(https://www.freepik.com/free-vector/dark-abstract-tech-background_4239999.htm#page=1&query=website%20background&position=16);
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}